.kp-header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--kp-padding);
  padding: var(--kp-padding);
}

.kp-header-user {
  align-self: center;
}

.kp-header-logout {
  align-self: center;
  padding: 8px;
}