.kp-header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--kp-padding);
}

.kp-header-user {
  align-self: center;
  font-size: var(--kp-font-size-small);
}

.kp-header-logout {
  align-self: center;
  padding: 8px;
}