<div class="kp-page">
  <app-header></app-header>
  <div class="kp-page-container">
    <div class="kp-page-title">Locker</div>
    <div class="kp-page-content">
      <div class="kp-card">
        <!-- wifi -->
        <div class="kp-card-detail">
          <div class="card-label">
            Wifi Password
          </div>
          <div class="card-value">
            HatenoR3g!on
          </div>
        </div>

        <!-- phone number -->
        <div class="kp-card-detail">
          <div class="card-label">
            Phone number
          </div>
          <div class="card-value">
            5716312946
          </div>
        </div>
      </div>
    </div>
  </div>
</div>