@import "../../../theme/variables.scss";

.kp-tabs {
  height: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--kp-padding);
  padding: var(--kp-padding-small);

  .kp-tab {
    &.focus {
      outline: none;
    }

    &.kp-tab-tasks {
      @include kp-mixin-background-image($image: url("src/assets/subapps/app-tasks.png"));
    }

    &.kp-tab-locker {
      @include kp-mixin-background-image($image: url("src/assets/subapps/app-config.png"));
    }
  }
}