// mixins
@mixin transition {
  transition: 0.3s ease-in-out;
}

:root {
  --kp-color-black-darken: #1a1f22;
  --kp-color-black: #111517;
  --kp-color-gray-dark: #1f3337;
  --kp-color-gray-light: #8d8d8d;
  --kp-color-white: #f1f1f1;
  --kp-color-primary: #c7b656;
  --kp-color-primary-variation: #d59225;
  --kp-color-secondary: #69b9cb;

  --kp-padding: 1rem;
  --kp-padding-small: 0.6rem;
}
