// mixins
@mixin kp-mixin-transition {
  transition: 0.3s ease-in-out;
}

@mixin kp-mixin-background-image($image) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: $image;
}

:root {
  --kp-color-black-darken: #1a1f22;
  --kp-color-black: #111517;
  --kp-color-gray-dark: #1f3337;
  --kp-color-gray-light: #8d8d8d;
  --kp-color-white: #f1f1f1;
  --kp-color-primary: #c7b656;
  --kp-color-primary-darken: #a19446;
  --kp-color-primary-variation: #d59225;
  --kp-color-primary-variation-darken: #af7820;
  --kp-color-secondary: #69b9cb;
  --kp-color-secondary-darken: #1e8ea7;
  --kp-color-error: #c03737;

  --kp-padding: 1rem;
  --kp-padding-small: 0.6rem;

  --kp-font-size: 1.1rem;
  --kp-font-size-small: 0.8rem;
}
