<div class="kp-container">
  <div class="kp-card">
    <app-logo></app-logo>
  
    <form class="kp-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  
      <!-- fields (email, password) -->
      <div class="kp-form-body">
  
        <!-- email -->
        <div class="kp-field-container">
          <label 
            class="kp-field" 
            [class.kp-field-invalid]="f.email.dirty && f.email.errors"
            for="email">
            <span class="kp-field-label">Email</span>
            <input 
              id="email"
              type="text"
              class="kp-field-input"
              placeholder="Your Email"
              formControlName="email">
          </label>
          <div class="kp-field-errors" *ngIf="f.email.dirty && f.email.errors">
            <ng-container *ngIf="f.email.errors.required">Email is required</ng-container>
            <ng-container *ngIf="f.email.errors.email">Email must be a valid email address</ng-container>
          </div>
        </div>
  
        <!-- password -->
        <div class="kp-field-container">
          <label
            class="kp-field"
            [class.kp-field-invalid]="f.password.dirty && f.password.errors"
            for="password">
            <span class="kp-field-label">Password</span>
            <input
              id="password"
              type="password"
              class="kp-field-input"
              placeholder="Your Password"
              formControlName="password">
          </label>
          <div class="kp-field-errors" *ngIf="f.password.dirty && f.password.errors">
            <ng-container *ngIf="f.password.errors.required">Password is required</ng-container>
          </div>
        </div>
      </div>
  
      <!-- actions -->
      <div class="kp-form-actions">
        <button type="submit" class="kp-button">
          Sign In
        </button>
        <!-- <button type="submit" class="kp-button kp-button-link" (click)="signInWithGoogle()">
          Sign In With Google
        </button> -->
      </div>
    </form>
  </div>
</div>

