/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

* {
  color: var(--kp-color-white);
  outline: none;
  box-sizing: border-box;
}
  

body {
  background-color: var(--kp-color-black);
}

*:focus {
  outline: none;
}

// layout
.kp-container {
  display: grid;
  height: 100vh;
}

.kp-card {
  align-self: center;
  display: grid;
  padding: var(--kp-padding);
}

// form and fields
.kp-form {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--kp-padding);
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  .kp-form-body {
    display: grid;
    gap: var(--kp-padding);

    .kp-field-errors {
      padding: 8px var(--kp-font-size-small) 0;
      font-size: var(--kp-font-size-small);
      color: var(--kp-color-error);
    }

    .kp-field {
      height: 60px;
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 4px;
      padding: var(--kp-font-size-small);
      border: 2px solid var(--kp-color-gray-dark);
      border-radius: var(--kp-font-size-small);
      background-color: var(--kp-color-gray-dark);

      &.kp-field-invalid {
        border: 2px solid var(--kp-color-error);
      }

      .kp-field-label {
        color: var(--kp-color-white);
        font-size: var(--kp-font-size-small);
        font-weight: bold;
        line-height: 1;
      }

      .kp-field-input {
        align-self: center;
        background: none;
        outline: none;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
        background: unset;
        width: 100%;
        margin: 0;
        padding: 0;
        font-weight: bold;
        line-height: 1;
      
        &::-webkit-input-placeholder {
          font-weight: normal;
        }
      
        &:-ms-input-placeholder {
          font-weight: normal;
        }
      
        &::placeholder {
          font-weight: normal;
        }
      
        &:focus,
        *:focus {
          outline: none;
        }
      }
    }
  }

  .kp-form-actions {
    display: grid;
    gap: var(--kp-padding);
    padding-top: var(--kp-padding-small);
  }
}

// button
.kp-button {
  align-self: center;
  outline: none;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  background: unset;

  background-color: var(--kp-color-black-darken);
  border: 2px solid var(--kp-color-black-darken);
  border-radius: var(--kp-font-size-small);
  color: var(--kp-color-primary);
  width: 100%;
  padding: var(--kp-font-size-small);
  font-weight: bold;
  font-size: var(--kp-font-size-small);

  &.kp-button-link {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--kp-color-white);
  }
}