<div class="kp-page">
  <app-header></app-header>
  <div class="kp-page-container">
    <div class="kp-page-title">Tasks</div>
    <div class="kp-page-content">
      <div class="kp-tasks" *ngIf="tasks && tasks.weekdaysTasks">

        <div class="kp-tasks-header">
          <span class="kp-task-header-item"></span>
          <span class="kp-task-header-item">Cooking</span>
          <span class="kp-task-header-item">Dishes</span>
        </div>

        <div class="kp-tasks-entries" *ngFor="let entryTask of tasks.weekdaysTasks">
          <div class="kp-task-weekday">
            {{ entryTask.weekday }}
          </div>
          <div class="kp-task-item">
            {{ entryTask.tasks.cookingTask }}
          </div>
          <div class="kp-task-item">
            {{ entryTask.tasks.dishwashingTask }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>